body {
    font-family: "Open-sans", "sans-serif";
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
    background-color: white;
    display: block;
}

h1 {
  color: $yellow;
  font-family: "arista 2.0", "sans-serif";
  font-size: 32px;
}

h2 {
  color: white;
  font-family: "varela round", "sans-serif";
  font-size: 20px;
}

.chevron {
    font-size: 50px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 20px;
}

.white-link {
    color: white;
    cursor: pointer;
    &:hover {
      color: $dark-blue;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
}

/*----------------------------------------------------------------------------*/

.background.window {
    background-image:url(LP-BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

/*----------------------------------------------------------------------------*/

.subscribe-form {
  margin-top: 30px;
}


.content {
    z-index: 1;
    text-align: center;
}

.email {
    padding: 10px 40px;
}

.round-left {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.no-border {
    border: 0px solid white;
}

.subscribe-input {
    background-color: white;
    color: $dark-blue;
    padding: 10px 20px;
    width: 440px;
    height: 55px;
    font-family: "varela round", "sans-serif";
    font-size: 20px;
    &:focus {
    outline:none;
    }
}

::-webkit-input-placeholder {
   font-family: "varela round", "sans-serif";
   font-size: 20px;
   color: $blue;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "varela round", "sans-serif";
   font-size: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: "varela round", "sans-serif";
   font-size: 20px;
}

:-ms-input-placeholder {
   font-family: "varela round", "sans-serif";
   font-size: 20px;
}


.round-right {
    margin-left: -5px;
}

.round-right {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.no-border {
    border: 0px solid white;
}

.btn-subscribe {
    background-color: $blue;
    font-family: "varela round", "sans-serif";
    font-size: 20px;
    color: white;
    width: 160px;
    height: 55px;
    padding: 10px 20px;
    &:hover {
      background-color: $dark-blue;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    &:focus {
    outline:none;
    }
}

/*----------------------------------------------------------------------------*/

.background.infos {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($white-blue, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($white-blue, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($white-blue, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($white-blue, white); /* Standard syntax */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background.infos h2 {
  font-family: "arista 2.0", "sans-serif";
  color: $blue;
  font-size: 35px;
  margin: 50px;
}

.background.infos p {
  font-family: "varela round", "sans-serif";
  color: $blue;
  font-size: 12px;
}

.background.infos h3 {
  font-family: "varela round", "sans-serif";
  color: $dark-blue;
  font-weight: bolder;
  font-size: 15px;
  margin-top: -20px;
}

.frame {
  margin-top: 400px;
}


.dontchange {
  background-image: url("dontchange.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 300px;
  margin: auto;
}

.weloveads {
  background-image: url("weloveads.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 300px;
  margin: auto;
}

.vote {
  background-image: url("vote.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 300px;
  margin: auto;
}
