<h3 style="text-align: justify;"><strong><span style="font-family:lucida sans unicode,lucida grande,sans-serif">Welcome to the </span></strong><strong><span style="font-family:lucida sans unicode,lucida grande,sans-serif">flykke</span></strong><strong><span style="font-family:lucida sans unicode,lucida grande,sans-serif"> community!</span></strong></h3>

<p style="text-align: justify;"><br />
<span style="color:#696969"><span style="font-family:lucida sans unicode,lucida grande,sans-serif">Hi, I am Cyril the founder of&nbsp;</span></span><span style="font-family:lucida sans unicode,lucida grande,sans-serif"><span style="color:#696969">Flykke</span></span><span style="color:#696969"><span style="font-family:lucida sans unicode,lucida grande,sans-serif">, I&nbsp;am glad to meet you!&nbsp;</span></span><br />
<br />
<span style="font-family:lucida sans unicode,lucida grande,sans-serif"><span style="color:#696969">Flykke helps your favorite&nbsp;content creators and charities&nbsp; by&nbsp;making free donations through the </span><span style="color:#696969">flykkes</span><span style="color:#696969"> you give. You see a content that you love on our platform? just <s>like</s> </span><span style="color:#696969"><strong>Flykke</strong></span><span style="color:#696969"> <strong>it</strong>, you&rsquo;ll watch a nice ad </span><span style="color:#696969">to <strong>donate</strong></span></span><span style="color:#696969"><span style="font-family:lucida sans unicode,lucida grande,sans-serif">&nbsp;<strong>freely</strong>!</span></span></p>


<div style="text-align: justify;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif"><span style="color:#61C8F2"><strong>By subscribing you made a great choice: you&rsquo;ll be first to hear about our progress and to receive our&nbsp;exclusive (and awesome) list of our favorite articles and content creators.</strong></span></span></div>

<br><br>

<div style="text-align: justify;"><span style="color:#696969"><span style="font-family:lucida sans unicode,lucida grande,sans-serif">We do our best to make it easy for you to <strong>help the people you care about</strong>. I would really appreciate to have your feedback on our project and get to know you better, don&#39;t hesitate to answer me! &nbsp;<br />
<br />
<br />
Lots of Love,&nbsp;<br />
<br />
Cyril Chehovah&nbsp;</span></span></div>
<br>
<br>
<%= image_tag('Logo-signature.png') %>
