
<div class="navbar navtop navbar-fixed">
  <!-- Logo -->
  <div class="navbar-logo">
    <a class="grey-link" href="/"><img class="grey-link" src="logo.png" alt="logo Flykke"/></a>
  </div>

  <div class="pusher"></div>

  <!-- menu on desktop and tablet -->
  <div class="hidden-xs flex v-center">
    <div class="navbar-link">
      <a href="#whatisflykke">
        <div>What is Flykke?</div>
      </a>
    </div>
  </div>
</div>

<div class="background window">
  <div class="chevron">
    <a class="white-link" href="#whatisflykke">
      <i class="fa fa-2x fa-angle-down"></i>
    </a>
  </div>
  <div class="content col-xs-12 col-md-10">
    <h1>Give more than a simple like to support your favorite creators and charities!</h1>
    <h2>Instead of liking, flykke your favorite charities and content creators’ work to finance and support them freely!</h2>
    <div class="margin-top-50 ">
      <!-- Verify input enter your mail -->
      <form action="/subscribe" class="subscribe-form" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="UZahycSjsQKNVvuK4enxlo4/YE/kZToZu7THWbGk33rlSN7oj9fKjCzbPsvLMcjn373OhT1D85MfWokNgk8FuA==" />
        <input type="text" name="email" id="email" placeholder="Enter your email" class="white no-border round-left" />
        <input type="submit" name="commit" value="Subscribe" class="dark-blue no-border round-right" />
      </form>
    </div>
  </div>
</div>

<!-- section how it works -->
<div class="background infos">
  <div class="frame">
    <div class="container padding" id="whatisflykke">
      <div class="row text-center">
        <div class="col-xs-12 col-md-12">
          <div class="row">
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30-infos">
                <div class="weloveads"></div>
                <h3>Make peace with online advertisement</h3>
                <p>Flykke what you like and watch great related ads that pay and support the content creators flykked!
                Online advertisement becomes your best ally: for the first time you can choose when you accept to see an ad! </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30-infos">
                <div class="vote"></div>
                <h3>Support freely your favorite creators and charities</h3>
                <p>Attach free money to each of your like, you become a real actor of your society: you choose who to support and give them concrete help in their development!</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30-infos">
                <div class="dontchange"></div>
                <h3>Don’t change, you are perfect</h3>
                <p>Discover, support, share great content and causes and watch ads like you do everyday! But with Flykke you add a real meaning to the likes you give! </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="main-footer">
  <div class="flex h-center v-center text-center">
    <div>
      <div class="margin-v-30">
        <p>Flykke revolutionize your way of acting on the internet, follow us!</p>
      </div>
      <div class="flex v-center h-center margin-v-30">
        <a href="https://www.facebook.com/Flykke-1637653286468026" class="icon" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
        <a href="https://twitter.com/Flykke_Officiel" class="icon" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="" class="icon"><i class="fa fa-2x fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>



