
<div class="navbar navtop navbar-fixed">
  <!-- Logo -->
  <div class="navbar-logo">
    <a class="grey-link" href="/"><img class="grey-link" src="/assets/images/logo.png" alt="logo Flykke"/></a>
  </div>

  <div class="pusher"></div>

  <!-- menu on desktop and tablet -->
  <div class="hidden-xs flex v-center">
    <div class="navbar-link">
      <a href="#whatisflykke">
        <div>What is Flykke?</div>
      </a>
    </div>
  </div>
</div>

<div class="background window">
  <div class="chevron">
    <a class="white-link" href="#whatisflykke">
      <i class="fa fa-2x fa-angle-down"></i>
    </a>
  </div>
  <div class="content col-xs-12 col-md-8">
    <h1>Add money to your likes!</h1>
    <h2>Flykke is ...(110 char)</h2>
    <div class="margin-top-50 ">
      <!-- Verify input enter your mail -->
      <form action="/subscribe" class="subscribe-form" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="UZahycSjsQKNVvuK4enxlo4/YE/kZToZu7THWbGk33rlSN7oj9fKjCzbPsvLMcjn373OhT1D85MfWokNgk8FuA==" />
        <input type="text" name="email" id="email" placeholder="Enter your email" class="white no-border round-left" />
        <input type="submit" name="commit" value="Subscribe" class="dark-blue no-border round-right" />
      </form>
    </div>
  </div>
</div>

<!-- section how it works -->
<div class="background infos">
  <div class="frame">
    <div class="container padding" id="whatisflykke">
      <div class="row text-center">
        <div class="title hideme">
          <h2>What is Flykke?</h2>
        </div>
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30">
                <i class="fa fa-4x fa-envelope"></i>
                <h3>Les visites facilitées</h3>
                <p>N'attendez plus que votre logement soit vide, votre locataire peut s'occuper des visites</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30">
                <i class="fa fa-4x fa-envelope"></i>
                <h3>Des dossiers vérifiés</h3>
                <p>Nous savons qu'avoir un bon locataire est essentiel, nous selectionnons pour vous les meilleurs dossiers</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 hideme">
              <div class="margin-v-30">
                <i class="fa fa-4x fa-envelope"></i>
                <h3>Une gestion en un clic</h3>
                <p>Editez en un clic votre nouveau bail et faites le signer en ligne. Envoyez vos loyers et quittances</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer class="main-footer">
  <div class="flex h-center v-center text-center">
    <div>
      <div class="margin-v-30">
        <p>Flykke revolutionize your way of acting on the internet, follow us!</p>
      </div>
      <div class="flex v-center h-center margin-v-30">
        <a href="https://www.facebook.com/Flykke-1637653286468026" class="icon" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
        <a href="https://twitter.com/Flykke_Officiel" class="icon" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="" class="icon"><i class="fa fa-2x fa-envelope"></i></a>
      </div>
    </div>
  </div>
</footer>


