/* NAVBAR */

.navbar {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  padding: 0px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3A3841;
  background: transparent;
  background: -webkit-linear-gradient(rgba(97, 200, 242, 100), rgba(123, 208, 245, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(97, 200, 242, 100), rgba(123, 208, 245, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(97, 200, 242, 100), rgba(123, 208, 245, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(97, 200, 242, 100), rgba(123, 208, 245, 0)); /* Standard syntax */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &-logo {
  background-image: url("logoflykke.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 30px;
  height: 90px;
  width: 400px;
  margin-left: 32%;
  cursor: pointer;
  }
  &-fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
  }
  &-link a {
  font-family: "arista 2.0", "sans-serif";
  color: $yellow;
  font-size: 25px;
  text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}


.flex.v-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.pusher {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
